{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Accounts" %}{% endblock %}

{% block content %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>$(document).ready(function () {
    $.endlessPaginate();
  });</script>
  <h2>{% trans "Accounts" %}</h2>
  <a class="btn btn-primary " href="{% url 'account_create' %}">{% trans "Create account" %}</a>
  {% if object_list %}
    <div class="endless_page_template">
      {% include page_template %}
    </div>
    <br>
  {% endif %}
{% endblock content %}
