body {
    padding-top: 70px;
}
.action-width{
    width: 200px;
}
.counter-width{
    width: 30px;
}
.page-center{
    text-align: center;
}
.form-margin{
    margin-left: 10px;
}
.login-submit{
    margin-left: 35%;
}
.register-submit{
    margin-left: 17%;
}