{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Transactions" %}{% endblock %}

{% block content %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>$(document).ready(function () {
    $.endlessPaginate();
  });</script>
  <h2>{% trans "Transactions" %}</h2>
  <a class="btn btn-primary " href="{% url 'transaction_create' %}">{% trans "Create transaction" %}</a>
  <a class="btn btn-primary " href="?type=">{% trans "Everything" %}</a>
  <a class="btn btn-primary " href="?type=incoming">{% trans "Incomes" %}</a>
  <a class="btn btn-primary " href="?type=outgoing">{% trans "Expenses" %}</a>
  <a class="btn btn-primary " href="?type=transfer">{% trans "Transfers" %}</a>
  {% if object_list %}
    <div class="endless_page_template">
      {% include page_template %}
    </div>
    <br>
  {% endif %}
{% endblock content %}
