{% load endless %}
{% load i18n %}
{% paginate object_list %}
{% get_pages %}

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>{% trans "Transaction" %}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for transaction in object_list %}
    <tr>
      <td class="counter-width">{{ forloop.counter }}</td>
      <td>{{ transaction }}</td>
      <td class="action-width">
        <a href="{% url 'transaction_update' transaction.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
        <a data-id="{{ transaction.pk }}" class="btn btn-danger" href="#">{% trans "Delete" %}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="page-center">
  {% trans "Displaying transactions" %} {{ pages.current_start_index }}
  - {{ pages.current_end_index }} {% trans "from" %} {{ pages.total_count }}.
  <br>
  <ul class="pagination">
    {% if pages.previous %}
      <li>{{ pages.previous }}</li>
    {% endif %}
    {% for page in pages %}
      {% if  page.is_current %}
        <li class="active">{{ page }}</li>
      {% else %}
        <li>{{ page }}</li>
      {% endif %}
    {% endfor %}
    {% if pages.next %}
      <li>{{ pages.next }}</li>
    {% endif %}
  </ul>
</div>

<script type="text/javascript">
  $(".btn-danger").on("click", function () {
    var button = $(this);
    var id = button.data("id");
    if (confirm({% trans "Delete this transaction?" %}) == true) {
      ajaxPost('{% url 'transaction_delete' %}', {'pk': id}, function (content) {
        button.parent().parent().hide();
      })
    } else {
      return false;
    }
  });
</script>
