{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Список транзакций" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$(document).ready(function () {
        $.endlessPaginate();
    });</script>
    <h2>{% trans "Список транзакций" %}</h2>
    <a class="btn btn-primary " href="{% url 'transaction_create' %}">{% trans "Создать" %}</a>
    {% if object_list %}
        <div class="endless_page_template">

        </div>
        <br>
    {% endif %}
{% endblock content %}
